*.root
#.*
..*
*.pyc
*/*/*/*.pyc
filters/ZmuonFilter/python/__init__.pyc
*.pkl
*.tgz
*.log
*PSet.*
*PSet*.*
#test/*
test/*.txt
*.txt
*.d
*.so
*.pcm
*/*.d
*/*.so
*/*.pcm
*.pdf
*.png
*.eps
*/*.pdf
*/*.png
*/*.eps
test/Zmuon_DataJobs_*
test/*.txt
test/.__*
